@font-face {
    font-family: MegaPunch;
    src: url(../fonts/Megapunch.otf);
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: Oswald;
    src: url(../fonts/Oswald.ttf);
}

*
{
    --header-height: 50px;
}

*:not(#logo, .nav-global-link)
{
    font-family: Roboto;
}

body
{
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header
{
    height: var(--header-height);
    background-color: orange;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo
{
    height: var(--header-height);
    margin: 0;
    color: black;
    font-family: MegaPunch;
    text-align: center;
}

#user-logo
{
    position: absolute;
    right: 5px;
    top: 2.5px;
    width: 45px;
    height: 45px;
}

#contact-logo
{
    position: absolute;
    right: 60px;
    top: 5px;
    width: 40px;
    height: 40px;
}

a, a:link, a:visited, a:hover, a:active
{
    text-decoration: none !important;
}

nav
{
    display: flex;
    position: sticky;
    z-index: 1;
    top: var(--header-height);
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.nav
{
    background-color: black;
    padding-top: 2px;
    color: aliceblue;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    font-family: Oswald;
    border-style: solid;
    border-color: orange;
    border-top: 0;
    border-bottom: 0;
    padding-right: 20px;
    padding-left: 20px;
}

.nav:hover
{
    color: orange;
}

.nav-dropdown
{
    display: none;
    color: white;
    background-color: black;
    position: absolute;
    margin: 0;
    list-style-type: none;
    padding: 30px;
}

.nav-global-link, .nav-global-link:link, .nav-global-link:visited, .nav-global-link:hover, .nav-global-link:active
{
    color: white;
    font-family: Oswald;
}

.nav:hover .nav-dropdown
{
    display: block;
}

.nav-dropdown-content
{
    color: white;
    padding: 10px;
}

.nav:hover .nav-dropdown
{
    display: block;
    position: absolute;
}

.nav-dropdown-content:hover
{
    color: orange;
}

.nav-dropdown-content:link, .nav-dropdown-content:visited, .nav-dropdown-content:active
{
    color: white;
}

#body-top
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
}

.banner
{
    width: 600px;
    height: 150px;
    border-radius: 10px;
}

#searchbar
{
    width: 300px;
    height: 40px;
    margin: 50px;
}

#searchbar-input
{
    width: 300px;
    height: 40px;
    border-style: solid;
    border-color: black;
}

.group-title
{
    display: block;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: xx-large;
}

.grid-container
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.grid-item
{
    
    margin-right: 5px;
    margin-left: 5px;
}

.categories, .articles
{
    margin-right: 20%;
    margin-left: 20%;
}

.category-title
{
    font-weight: bold;
}

.category-image, .article-image
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
}

.article-price
{
    color: red;
}

.article-image:hover, .category-image:hover
{
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

footer
{
    background-color: orange;
    display: flex;
    margin-top: auto;
    width: 100%;
}

.footer-item
{
    margin: auto;
    display: inline;
}

#form
{
    display: block;
}

#form h2
{
    text-align: center;
    margin: 50px;
}

#form p
{
    text-align: center;
    margin: 50px;
}

form
{
    margin-right: 30%;
    margin-left: 30%;
    display: grid;
}

.form-input
{
    margin-bottom: 30px;
}

form h1
{
    text-align: center;
}

.contact-form-item
{
    display: grid;
    margin: 20px;
}

@media screen and (max-width: 1000px)
{
    .grid-container
    {
        display: grid;
        grid-template-columns: 1fr;
    } 
}

@media screen and (max-width: 1400px) and (min-width: 1000px)
{
    .grid-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    } 
}

@media screen and (max-width: 1800px) and (min-width: 1400px)
{
    .grid-container
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    } 
}

@media screen and (max-width: 1600px) 
{
    #body-top
    {
        display: block;
    }

    #searchbar
    {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    .banner
    {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
}